html,
body {
    padding: 0;
    /* border-box doesn't include margin, only padding */
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* layout style */
html {
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
    /* overflow: hidden; */
}

header {
    height: 7vh;
    padding: 0vh;
    font-size: 10px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(67, 92, 92, 0.75) 0%, rgb(66, 77, 92) 100%);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

main {
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 93vh;
    padding: 0vh;
    background: rgba(123, 152, 152, 0.75);
}

.map {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.left-side {
    /* border: 1px solid blue; */
    width: 500px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.legend-box {
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

.legend-color {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  border: 1px solid #00000055;
  vertical-align: middle;
}
